<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>yrics: <%= controller.action_name %></title>
</head>
<body id="store">
  <div id="banner">
    <%= image_tag("logobackdrop.png")  %>
      <% form_tag lyrics_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
      <% end %>
  </div>

  <div id="columns">
    <div id="side">
      <a href="http://luke.com"> Browse </a> <br />
      <a href="http://luke.com"> Submit </a> <br />
    </div>
    <div id="main">
      <% for lyric in @lyrics -%>
        <%= image_tag(lyric.image_url, :size => "250x250") %>
        <h3><%=h lyric.title %></h3>
        <h3>
          Search:  <%=h lyric.year %> <br />
          Artist:  <%=h lyric.artist %> <br />
          Album:   <%=h lyric.album %>  <br />
          Year:    <%=h lyric.year %>   <br /><br />
          <%= lyric.lyrics %>
        </h3>
        <td><%= link_to 'Show', lyric %></td>
        <td><%= link_to 'Edit', edit_lyric_path(lyric) %></td>
        <td><%= link_to 'Destroy', lyric, :confirm => 'Are you sure?', :method => :delete %></td>
        <br />
      <% end %>
      <%= link_to 'New lyric', new_lyric_path %>
    </div>
  </div>
</body>
</html>






<!--
<table>
  <tr class="list-description">
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Year</th>
    <th>Lyrics</th>
    <th>Image url</th>
  </tr>

<% for lyric in @lyrics %>
  <tr>
    <td><%=h lyric.title %></td>
    <td><%=h lyric.artist %></td>
    <td><%=h lyric.album %></td>
    <td><%=h lyric.year %></td>
    <td><%=h lyric.lyrics %></td>
    <td><%=h lyric.image_url %></td>
    <td><%= link_to 'Show', lyric %></td>
    <td><%= link_to 'Edit', edit_lyric_path(lyric) %></td>
    <td><%= link_to 'Destroy', lyric, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

-->
