<h1 align="center">Lyric Mesh</h1>

<% for lyric in @lyrics -%>
  <div class="entry">
    <%= image_tag(lyric.image_url, :size => "300x300") %>
    <h3><%=h lyric.title %></h3>
    <h3>
    Artist:  <%=h lyric.artist %> <br />
    Album:   <%=h lyric.album %>  <br />
    Year:    <%=h lyric.year %>   <br /><br />
    <%= lyric.lyrics %>
    </h3>
    <td><%= link_to 'Show', lyric %></td>
    <td><%= link_to 'Edit', edit_lyric_path(lyric) %></td>
    <td><%= link_to 'Destroy', lyric, :confirm => 'Are you sure?', :method => :delete %></td>
  </div>
<% end %>

hi
<!--
<table>
  <tr class="list-description">
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Year</th>
    <th>Lyrics</th>
    <th>Image url</th>
  </tr>

<% for lyric in @lyrics %>
  <tr>
    <td><%=h lyric.title %></td>
    <td><%=h lyric.artist %></td>
    <td><%=h lyric.album %></td>
    <td><%=h lyric.year %></td>
    <td><%=h lyric.lyrics %></td>
    <td><%=h lyric.image_url %></td>
    <td><%= link_to 'Show', lyric %></td>
    <td><%= link_to 'Edit', edit_lyric_path(lyric) %></td>
    <td><%= link_to 'Destroy', lyric, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

-->

<br />

<%= link_to 'New lyric', new_lyric_path %>
