<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Artists <%= controller.action_name %></title>
</head>
<body id="store">
  <div id="banner">
    <%= image_tag("logobackdrop.png")  %>
      <% form_tag lyrics_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
      <% end %>
  </div>

  <div id="columns">
    <div id="side">
      <a href="../lyrics/"> Home     </a> <br />
    </div>
    <div id="main">
      <% previous_title = " " %>
      <% for lyric in @titles -%>
        <%= image_tag(lyric.image_url, :size => "250x250") %>
        <h3><%=h lyric.title %></h3>
        <h3>
          Search:  <%=h lyric.year %> <br />
          Artist:  <%=h lyric.artist %> <br />
          Album:   <%=h lyric.album %>  <br />
          Year:    <%=h lyric.year %>   <br /><br />
          <%= lyric.lyrics %>
        </h3>
      <% end %>
    </div>
  </div>
</body>
</html>




